#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE      0
#define LOWER     1
#define RAISE     2
#define TRACKBALL 3

/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_0>;
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q         &kp W       &kp F      &kp P      &kp B      &kp J      &kp L       &kp U      &kp Y    &kp SQT   &kp BSPC
&kp LCTRL  &kp A         &kp R       &kp S      &kp T      &kp G      &kp M      &kp N       &kp E      &kp I    &kp O     &kp SQT
&kp LSHFT  &kp Z         &kp X       &kp C      &kp D      &kp V      &kp K      &kp H       &kp COMMA  &kp DOT  &kp FSLH  &kp MINUS
&kp LGUI   &mt LALT DEL  &lt 1 INT5  &kp SPACE  &mkp LCLK  &mkp RCLK  &kp ENTER  &lt 2 INT4  &kp BSPC   &kp ESC
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&kp ESC    &kp EXCL      &kp AT     &kp HASH   &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR   &kp BSPC
&kp LCTRL  &none         &none      &none      &none     &none      &kp LBRC   &kp RBRC  &kp LBKT   &kp RBKT  &kp COLON  &kp DQT
&kp LSHFT  &kp GRAVE     &kp TILDE  &kp NUBS   &kp PIPE  &none      &kp EQL    &kp PLUS  &kp LT     &kp GT    &kp QMARK  &kp UNDER
&kp LGUI   &mt LALT DEL  &trans     &kp SPACE  &mkp MB4  &mkp MB5   &kp ENTER  &tog 3    &kp BSPC   &kp ESC
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp ESC    &kp N1        &kp N2  &kp N3     &kp N4    &kp N5    &kp N6     &kp N7    &kp N8        &kp N9     &kp N0    &kp BSPC
&kp LCTRL  &kp F1        &kp F2  &kp F3     &kp F4    &kp F5    &kp K_APP  &kp UP    &kp LS(INT1)  &kp UNDER  &kp DQT   &kp COLON
&kp LSHFT  &kp F6        &kp F7  &kp F8     &kp F9    &kp F10   &kp LEFT   &kp DOWN  &kp RIGHT     &kp DOT    &kp FSLH  &kp MINUS
&kp LGUI   &mt LALT DEL  &tog 3  &kp SPACE  &mkp MB4  &mkp MB5  &kp ENTER  &trans    &kp BSPC      &kp ESC
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        trackball_layer {
            display-name = "Trackball";
            bindings = <
&none     &none         &none            &none            &none            &none            &none      &none       &none     &none    &none  &none
&none     &none         &rgb_ug RGB_BRI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_EFF  &none      &none       &none     &none    &none  &none
&none     &none         &rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_EFR  &none      &none       &none     &none    &none  &none
&kp LGUI  &mt LALT DEL  &trans           &kp SPACE        &mkp LCLK        &mkp RCLK        &kp ENTER  &lt 2 INT4  &kp BSPC  &kp ESC
            >;

            /* QMK's SCRL_TO/CPI_SW/SCRL_SW/ROT_L15/ROT_R15/SCRL_IN keycodes have no
               direct ZMK equivalents — scroll mode is handled by the driver's
               scroll-layers property; CPI etc. are set in the overlay */

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };
    };
};
